{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Loyalty Points Configuration'|trans({}, 'Modules.Loyaltypoints.Admin') }}</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">
                                {{ form_label(form.points_per_currency) }}
                            </label>
                            <div class="col-sm-8">
                                {{ form_widget(form.points_per_currency) }}
                                <small class="form-text text-muted">
                                    {{ 'Points awarded per currency unit spent'|trans({}, 'Modules.Loyaltypoints.Admin') }}
                                </small>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">
                                {{ form_label(form.social_media_points) }}
                            </label>
                            <div class="col-sm-8">
                                {{ form_widget(form.social_media_points) }}
                                <small class="form-text text-muted">
                                    {{ 'Points for social media shares'|trans({}, 'Modules.Loyaltypoints.Admin') }}
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-8 offset-sm-4">
                                {{ form_widget(form.save) }}
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}